body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: skyblue;
}

.content {
  background-color: azure;
}

.finded {
  border: 1px solid black;
  height: 500px;
  margin: 20px;
  margin-bottom: 20px;
}
