#findGroup.content {
  text-align: center;
  background-color: #f0ffff;
}

#findGroup.finded {
  border: 1px solid black;
  height: 500px;
  margin: 20px;
  margin-bottom: 20px;
}

body {
  margin: 0;
  padding: 0;
  background: skyblue;
}

.inside {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

.content {
  margin: 20px;
  height: 1080px;
  background-color: azure;
}

header {
  width: 100%;
  height: 70px;
  border: 1px solid black;
}

.head {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

.article {
  display: table;
  /* border: 2px solid pink; */
  height: 90%;
  width: 100%;
}

.table-row {
  display: table-row;
  height: 100%;
  width: 100%;
  /* border: 2px solid black; */
}

.side {
  display: table-cell;
  border: 1px solid black;
}

#left {
  width: 80%;
  height: 100%;

  vertical-align: middle;
  text-align: center;
}

#right {
  width: 20%;
  height: 100%;
  text-align: center;
}

.wrap {
  height: 30%;
  width: 100%;
  top: 0;
  /* border: 1px solid black; */
}

.box {
  position: relative;
  display: block;
  border: 1px solid black;
  height: 25%;
}
