body {
  margin: 0;
  padding: 0;
  background: rgb(188, 235, 255);
}

header {
  height: 70px;
  border: 1px solid black;
}

/* Find group page */

#findGroup.content {
  text-align: center;
  background-color: #f0ffff;
}

#findGroup.finded {
  border: 1px solid rgb(219, 219, 219);
  background-color: rgb(243, 243, 243);
  border-radius: 10px;
  height: 500px;
  margin: 20px;
  margin-bottom: 20px;
  overflow: scroll;
}

/* Find Group */

.group_box {
  margin: 15px auto;
  display: flex;
  width: 98%;
  height: 130px;
  background-color: white;
  box-shadow: 3px 3px 7px -2px #333333;
}

.group_picture {
  margin: auto;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  border: 1px rgb(238, 238, 238) solid;
  background-color: azure;
}

.group_description {
  margin: auto;
  width: 70%;
  height: 115px;
  background-color: rgba(189, 215, 255, 0.363);
}

/* Group page */

.group_screen_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
}

.personal_screen {
  width: 200px;
  height: 200px;
  padding: 15px;
  margin: 30px;
  background-color: azure;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 10px 0 10px 0;
}

.std_name {
  font-weight: 600;
}

.std_status.on {
  color: rgb(0, 201, 0);
}

.std_status.off {
  color: rgb(0, 0, 0);
}

/* User Info */

.user_screen_content {
  margin: 20px;
  height: 1080px;
  background-color: azure;
}

.user_screen_container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

.user_screen_head {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  text-align: center;
}

.user_screen_header {
  line-height: 70px;
  font-weight: 600;
  font-size: larger;
}

.user_screen_info {
  display: table;
  height: 90%;
  width: 100%;
}

.side {
  display: table-cell;
  border: 1px solid black;
}

.side.left_screen {
  display: flex;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.screen_view {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(241, 241, 241, 0.692);
}

.side.right_info {
  width: 20%;
  height: 100%;
  text-align: center;
  position: relative;
}

.user_info {
  height: 30%;
  width: 100%;
  top: 0;
}

.user_detail {
  position: relative;
  display: block;
  border: 1px solid black;
  height: 25%;
}

#clock {
  margin-top: 5px;
}

/* buttons */

#next_btn {
  /* Main page btn */
  height: 30px;
  border: none;
  background-color: transparent;
  font-size: larger;
  font-weight: 600;
  cursor: pointer;
}

#next_btn:hover {
  height: 28px;
  font-style: italic;
  border-bottom: yellow 2px solid;
}

#btn_style {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#end_btn {
  background-color: #6495ed;
  border: none;
  color: white;
  height: 30px;
  font-size: larger;

  position: absolute;
  bottom: 20px;
  right: 33%;

  cursor: pointer;
}

#end_btn:hover {
  background: #3d7ae9;
}
